.option{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 75%;
}

.option p{
    margin: 0;
}

.option div{
    display: flex;
    align-items: center;
}

.option div div{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.option div div input{
    margin-bottom: 0;
}

.option label{
    padding: 2px 6px;
    margin: 2px;
    border-radius: 10px;
}

input[type="radio"]:checked + .showAnswer.correct{
    background-color: #a5eea0;
}

input[type="radio"]:checked + .showAnswer.incorrect{
    background-color: #be2929;
    color: #f9f9f9;
}