<p>{{ body }}</p>
<section #tooltip="matTooltip" matTooltip="Selecione uma resposta para cada afirmação" [matTooltipDisabled]="!alert">
    <div class="option" *ngFor="let option of options; let i = index">
        <p>{{ option }}</p>
        <div>
            <mat-radio-group [disabled]="!active" [(ngModel)]="answers[i]" class="answer">
                <mat-radio-button value="true" [id]="'true'+i" class="alt">Verdadeiro</mat-radio-button>
                <mat-radio-button value="false" [id]="'false'+i" class="alt">Falso</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <button *ngIf="showNext" (click)="nextQuestion()" class="next">Próxima questão</button>
    <button (click)="verifyAnswer()" class="verifyAnswer">Verificar resposta</button>
</section>

