:host{
    background-color: #080e19;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    max-height: 10vh;
}

a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

h1{
    color: #fdffff;
    font-weight: 500;
    font-size: 22pt;
    margin: 6px;
}

img{
    margin: 12px;
    height: 8vh;
}