@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.option{
    display: flex;
    align-items: center;
    margin: 12px;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
}

.option label{
    padding: 2px 6px;
    margin: 2px;
    border-radius: 10px;
}

.next{
    font-family: 'Inter', sans-serif;
    background-color: #319bf5;
    color: #fff;
    border: 1px solid #319bf5;
    padding: 12px 16px;
    margin-top: 24px;
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.verifyAnswer{
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #319bf5;
    border: 1px solid #319bf5;
    padding: 12px 16px;
    margin-top: 24px;
    border-radius: 10px;
    cursor: pointer;
}

.verifyAnswer:hover{
    background-color: #eef8ff;
}

.showAnswer.correct{
    background-color: #dbf5e9;
    border: 1px solid #21c177;
}

.showAnswer.incorrect{
    background-color: #f8d7da;
    border: 1px solid #e35b59;
}