<section>
    <nav>
        <a mat-button href="https://github.com/Salgado2004/NuvemPro-Exams" target="_blank">Dê uma estrela<mat-icon class="star">star</mat-icon></a>
        <a mat-button href="https://github.com/Salgado2004/NuvemPro-Exams/blob/master/translations/CONTRIBUTING_PT.md" target="_blank">Mais perguntas <mat-icon>open_in_new</mat-icon></a>
    </nav>
    <app-loader *ngIf="loading"></app-loader>
    <div class="simulados">
        <app-exam-card *ngFor="let simulado of simulados" [exam]="simulado"></app-exam-card>
    </div>  
</section>
