:host{
    width: 80%;
    max-height: 90vh;
    display: block;
    box-sizing: border-box;
    overflow-y: scroll;
}

nav{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 8px;
    margin: 6px;
}

nav .filters{
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 4px;
    font-family: 'Inter', sans-serif;
}

nav .filters p{
    font-weight: bold;
}

nav .filters label{
    color: #2f3643;
}

nav .filter{
    border: 1px solid #319bf5;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    outline: none;
}

nav .opt{
    background: #f5f5f5;
}

nav a{
    color: #319bf5;
    text-decoration: underline;
    font-size: 10pt;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

nav a:hover{
    text-decoration: none;
}

nav .star{
    color: #f5c319;
}

.simulados{
    display: flex;
    flex-wrap: wrap;
    gap: 8px 0px;
    justify-content: space-evenly;
}

@media (max-width: 590px) {
    :host{
        width: 100%;
    }

    .simulados{
        padding: 12px;
    }

    nav{
        justify-content:flex-start;
        gap: 6px;
    }
}