.option{
    display: flex;
    align-items: center;
    gap: 16px;
}

.option p{
    margin: 0;
    width: 65%;
    word-break: keep-all;
}

.option div{
    display: flex;
    align-items: center;
}

.option div .answer{
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.option div .answer .alt{
    padding-right: 8px;
    border-radius: 15px;
}

@media (max-width: 740px){
    .option{
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    .option p{
        text-align: justify;
    }
}