<h2 mat-dialog-title>O que é o CLI Playground?</h2>
<mat-dialog-content>
    <p>
        O CLI Playground é uma ferramenta que permite que você teste comandos do Azure CLI sem precisar instalar nada em
        sua máquina. Você pode testar comandos do Azure CLI e ver o que eles fazem.
    </p>
    <p>
        Os comandos são executados em uma API que simula o Azure CLI, então você pode testar comandos sem se preocupar
        em criar recursos reais no Azure.
    </p>
    <p>Esta ainda é uma feature em construção. Para mais informações sobre a API do CLI, acesse o 
        <a href="https://github.com/Salgado2004/CLI-Playground" target="_blank">repositório GitHub</a>.
    </p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>