<h2 mat-dialog-title>Reportar questão</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field class="form-section">
      <mat-label>Referência da questão</mat-label>
      <input matInput disabled [value]="data">
    </mat-form-field>
    <mat-label>Por que você está reportando a questão?</mat-label>
    <mat-radio-group formControlName="reason" class="form-section">
      <p><mat-radio-button value="A questão está incorreta">A questão está incorreta</mat-radio-button></p>
      <p><mat-radio-button value="A questão está desatualizada">A questão está desatualizada</mat-radio-button></p>
      <p><mat-radio-button value="A questão não faz parte do conteúdo do exame">A questão não faz parte do conteúdo do exame</mat-radio-button></p>
      <p><mat-radio-button value="Outro">Outro</mat-radio-button></p>
    </mat-radio-group>
    <mat-label>Por favor, forneça uma breve explicação da opção marcada acima: </mat-label>
    <mat-form-field class="form-section">
      <textarea formControlName="explain" matInput placeholder="Ex. Reportei essa questão porque..."></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
  <button mat-button class="send" (click)="sendReport()">Enviar</button>
</mat-dialog-actions>