<h2 mat-dialog-title>Reportar questão</h2>
<mat-dialog-content>
  <div class="questionReference">
    <p>{{ data }}</p>
    <button mat-icon-button (click)="copyReference()"><mat-icon fontSet="material-icons-outlined">content_copy</mat-icon></button>
  </div>
  <p>Para reportar a questão, copie o texto acima e preencha o formulário no <a href="https://github.com/Salgado2004/NuvemPro-Exams/issues/new?assignees=&labels=question%2Cgood+first+issue&projects=&template=question_report.yml&title=Report+-+'Short+description'" target="_blank">GitHub</a></p>
  <span>Atenção! É necessário uma conta no GitHub</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
