<div class="sidebar">
    <a class="active" routerLink="/simulados">Simulados</a>
    <button class="menu" (click)="showContribute()">
        <img src="/assets/icons/menu.svg">
    </button>
</div>
<div class="contribute hide">
    <h5>Contribua para o projeto:</h5>
    <a href="https://github.com/Salgado2004/CertCloud-Exams" target="_blank">
        <img src="/assets/icons/github.svg">GitHub</a>
    <a href="https://github.com/Salgado2004/CertCloud-Exams/discussions" target="_blank">
        <img src="/assets/icons/comments-solid.svg">Discussões</a>
</div>