:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  background-color: #18202f;
}

.sidebar {
  width: 100%;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  border-bottom: 2px solid #319bf5;
}

.sidebar a:hover {
  background-color: #555;
}

.menu{
  display: none;
  padding: 16px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
  float: right;
}

.menu:hover {
  background-color: #555;
}

.contribute {
  background-color: #2f3643;
  width: 90%;
  padding: 12px;
  margin: 6px;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  :host {
    width: 100%;
  }

  .menu{
    display: block;
  }

  .hide{
    display: none;
  }

  .sidebar {
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}