<p>{{ body }}</p>
<form [formGroup]="answers" #tooltip="matTooltip" matTooltip="Selecione pelo menos uma resposta" [matTooltipDisabled]="!alert">
    <div class="option" [id]="'checkbox'+i" *ngFor="let option of options; let i = index">
        <mat-checkbox [formControlName]="'answer'+i">{{ option }}</mat-checkbox>
    </div>
    <button *ngIf="showNext" (click)="nextQuestion()" class="next">Próxima questão</button>
    <button (click)="verifyAnswer()" class="verifyAnswer">Verificar resposta</button>
</form>
