:host{
    width: 80%;
    max-height: 90vh;
    display: block;
    box-sizing: border-box;
    overflow-y: scroll;
}

.simulados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 590px) {
    :host{
        width: 100%;
    }

    .simulados{
        padding: 12px;
    }
}