<section #tooltip="matTooltip" matTooltip="Selecione uma resposta" [matTooltipDisabled]="!alert">
    <mat-radio-group [disabled]="!active" [(ngModel)]="answer">
        <mat-radio-button *ngFor="let option of data.options; let i = index" [value]="i" 
        class="option" [id]="'radio'+i">{{ option }}</mat-radio-button>
    </mat-radio-group>
    <button *ngIf="showNext" (click)="nextQuestion()" class="next">Próxima questão</button>
    <button (click)="verifyAnswer()" class="verifyAnswer">Verificar resposta</button>
</section>
