.contribute a {
    display: flex;
    align-items: center;
    color: #319bf5;
    text-decoration: none;
    font-size: 10pt;
    font-weight: bold;
  }
  
  .contribute a img{
    max-height: 20px;
    margin: 4px;
  }
  
  .contribute a:hover{
    text-decoration: underline;
  }