section {
  background-color: #2f3643;
}

h5 {
  color: #fff;
  margin-bottom: 16px;
}

.contribute {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #2f3643;
  color: #fff;
  max-width: 90%;
}

.contribute a {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #319bf5;
  text-decoration: none;
  font-size: 10pt;
  font-weight: bold;
}

.contribute a img {
  max-height: 20px;
}

.contribute a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  section {
    width: 90vw;
  }

  h5 {
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 0 16px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}