:host {
    display: block;
    margin: 8px;
    padding: 15px;
    background-color: #fdffff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddeefd;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

nav div{
    display: flex;
    align-items: center;
}

.header {
    margin: 8px;
    margin-left: 0;
    text-align: justify;
}

#index {
    padding: 6px 8px;
    background-color: #dbf5e9;
    color: #21c177;
    border-radius: 10px;
}

#endExam {
    font-family: 'Inter', sans-serif;
    background-color: #e35b59;
    color: #fff;
    border: 1px solid #e35b59;
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
}

.mat-icon{
    color: #83878b;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin: 8px;
}

li {
    display: flex;
    gap: 6px;
    list-style: none;
}

li .mat-icon{
    overflow: visible;
}