<nav>
    <span id="index">Questão {{ questionIndex }} de {{ totalQuestions }}</span>
    <div>
        <button mat-icon-button (click)="reportQuestion()"><mat-icon>report</mat-icon></button>
        <button id="endExam" (click)="finishExam()">Encerrar</button>
    </div>
</nav>
<p class="header">{{ questionData.header }}</p>
@if(questionData.requirements != null){
<ul>
    <li *ngFor="let req of questionData.requirements">
        <mat-icon matListItemIcon>task_alt</mat-icon>
        <p>{{ req }}</p>
    </li>
</ul>
}
@if(questionData.code != null){
<codeblock [path]="questionData.exam+'/code/'+questionData.code"></codeblock>
}
<p>{{ questionData.body }}</p>
<ng-template appDinamicLoader></ng-template>