<header>
    <app-header></app-header>
</header>
<main>
    <app-sidenav></app-sidenav>
    <section>
        <h1>Estude para certificações de Cloud</h1>
        <p>O NuvemPro Exams é um projeto open-source que visa ajudar estudantes a se prepararem para certificações de Cloud Computing de diversas plataformas.</p>
        <h2>Exames práticos</h2>
        <p>Os <a routerLink="/simulados">exames práticos</a> são simulados que possuem questões de diferentes formatos para você testar seus conhecimentos.</p>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="assets/slides/slide1.png"></div>
              <div class="swiper-slide"><img src="assets/slides/slide2.png"></div>
              <div class="swiper-slide"><img src="assets/slides/slide3.png"></div>
              <div class="swiper-slide"><img src="assets/slides/slide4.png"></div>
            </div>
          </div>
        <h2>Contribua para o projeto</h2>
        <p>Se você deseja contribuir para o projeto, acesse nosso <a href="https://github.com/Salgado2004/NuvemPro-Exams" target="_blank">repositório no GitHub</a> e crie novos issues ou participe das discussões.</p>
    </section>
</main>
