<p>{{ data.body }}</p>
<section #tooltip="matTooltip" matTooltip="Faça as correspondências" [matTooltipDisabled]="!alert">
    <div class="drag-drop-container">
        <div class="resources" (drop)="appendChild($event)" (click)="appendChild($event)"
            (dragover)="allowDrop($event)">
            <div *ngFor="let resource of data.correct; let i = index" [id]="'ans-'+i" class="resource" [draggable]="active"
                (dragstart)="setData($event)" (click)="setData($event)">{{ resource }}</div>
        </div>
        <div class="answer-area">
            <h5>Área de resposta:</h5>
            @for (option of data.options; track option; let id = $index) {
            <div class="option">
                <p>{{ option }}</p>
                <div (drop)="appendChild($event)" (click)="appendChild($event)" (dragover)="allowDrop($event)"
                    [ariaLabel]="id"></div>
            </div>
            }
        </div>
    </div>
    <button *ngIf="showNext" (click)="nextQuestion()" class="next">Próxima questão</button>
    <button (click)="verifyAnswer()" class="verifyAnswer">Verificar resposta</button>
</section>