<h2 mat-dialog-title>Nova experiência de resultados!</h2>
<mat-dialog-content>
    <p>Agora, ao finalizar um simulado, você poderá visualizar os resultados dos últimos 5 simulados realizados, organizados por data.</p>
    <p>Isso permitirá que você acompanhe seu progresso ao longo do tempo e identifique áreas de melhoria. Aproveite essa funcionalidade e bons estudos!</p>
    <br>
    <p>Gostou? Deixe uma <a mat-button href="https://github.com/Salgado2004/NuvemPro-Exams" target="_blank"><mat-icon class="star">star</mat-icon> Estrela</a></p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="onboarding()">Entendi!</button>
</mat-dialog-actions>