.loader {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background-color: #fdffff;
    border-radius: 8px;
    margin: 12px;
  }
  
  .loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .loader span:nth-child(2) {
    background: #080e19;
  }
  
  .loader span:nth-child(3) {
    background: #18202f;
  }
  
  .loader span:nth-child(4) {
    background: #319bf5;
  }
  
  .loader span:not(:last-child) {
    animation: animate 0.8s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(30px);
    }
  }
  
  .loader span:last-child {
    animation: jump 0.8s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-150px, -50px);
    }
    80% {
      transform: translate(-140px, 10px);
    }
    90% {
      transform: translate(-130px, -10px);
    }
    100% {
      transform: translate(-120px, 0);
    }
  }