
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'material-icons/iconfont/material-icons.css';
@import 'highlight.js/styles/tokyo-night-dark.min.css';

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --mdc-form-field-label-text-size: 12pt;
    --mdc-form-field-label-text-line-height: normal;
    --mdc-form-field-label-text-tracking: normal;
    --mdc-form-field-label-text-color: #000;
    --mdc-radio-selected-focus-icon-color: #319bf5;
    --mdc-radio-selected-hover-icon-color: #319bf5;
    --mdc-radio-selected-icon-color: #319bf5;
    --mdc-radio-selected-pressed-icon-color: #319bf5;
    --mat-radio-checked-ripple-color: #319bf5;
    --mdc-radio-selected-focus-icon-color: #319bf5;
    --mdc-radio-selected-hover-icon-color: #319bf5;
    --mdc-radio-selected-icon-color: #319bf5;
    --mdc-radio-selected-pressed-icon-color: #319bf5;
    --mdc-checkbox-selected-focus-icon-color: #319bf5;
    --mdc-checkbox-selected-hover-icon-color: #319bf5;
    --mdc-checkbox-selected-icon-color: #319bf5;
    --mdc-checkbox-selected-pressed-icon-color: #319bf5;
    --mdc-checkbox-selected-focus-state-layer-color: #319bf5;
    --mdc-checkbox-selected-hover-state-layer-color: #319bf5;
    --mdc-checkbox-selected-pressed-state-layer-color: #319bf5;
}

body{
    background-color: #eef8ff;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
