name: Content JSON Validation

on:
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  validate-jsons:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: validate exams
      uses: ammarlakis/action-ajv@master
      with:
        schema: .github/schemas/exams.schema.json
        data: content/exams.json
        allErrors: true

    - name: validate questions
      uses: ammarlakis/action-ajv@master
      with:
        schema: .github/schemas/questions.schema.json
        data: content/**/**.json
        allErrors: true 
