:host{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 23%;
    border: 2px solid #319bf5;
    background-color: #18202f;
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px;
}

picture{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 20vh;
    padding: 6px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 12px;
}

img{
    height: 100%;
    width: auto;
}

p{
    color: #fff;
    font-size: 12pt;
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.5;
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input span{
    color: #fff;
    font-size: 10pt;
}

input{
    padding: 4px;
    border: none;
    outline: none;
    border-radius: 8px;
    width: 60%;
}

a{
    text-decoration: none;
}

a span{
    display: block;
    width: 100%;
    padding: 4px;
    margin-top: 8px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #319bf5;
    border-radius: 10px;
}

@media (max-width: 920px) {
    :host{
        width: 40%;
    }
}

@media (max-width: 590px) {
    :host{
        width: 75%;
    }
}

@media (max-width: 450px) {
    :host{
        width: 100%;
    }
}